{% extends 'baseadmin.html' %}
{% load static %}
{% block content %}
<form class="container" method="post" enctype="multipart/form-data" >
    {% csrf_token %}
    <div class="form-group">
        {%for i in catego%}
      <label >Category name</label>
      <input type="text" class="form-control" value="{{i.cat_name}}" name="cat_name" placeholder="Enter Category Name">
      <input type="file" class="form-control" name="cat_img"  accept=".jpg,.png,.jepg" >
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    {% endfor %}
  </form>
  {% endblock content %}