{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ansonika">
    <title>Astreme Store | ecommerce </title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="img/favicon.ico" type="{% static 'static/image/x-icon' %}">
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'img/apple-touch-icon-57x57-precomposed.png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="{% static 'img/apple-touch-icon-72x72-precomposed.png'%}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="{% static 'img/apple-touch-icon-114x114-precomposed.png'%}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="{% static 'img/apple-touch-icon-144x144-precomposed.png'%}">
	
    <!-- GOOGLE WEB FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="{% static 'css/bootstrap.custom.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/style.css'%}" rel="stylesheet">

	<!-- SPECIFIC CSS -->
    <link href="{% static 'css/home_1.css'%}" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="{% static 'css/custom.css'%}" rel="stylesheet">

</head>

<body>

    {% include 'includes/navbar.html' %}

    {% block content %}


    {% endblock content %}

    {% include 'includes/footer.html' %}


    
	</div>
	<!-- page -->
	
	<div id="toTop"></div><!-- Back to top button -->
	
	<!-- COMMON SCRIPTS -->
    <script src="{% static 'js/common_scripts.min.js'%}"></script>
    <script src="{% static 'js/main.js'%}"></script>
	
	<!-- SPECIFIC SCRIPTS -->
	<script src="{% static 'js/carousel-home.min.js'%}"></script>

</body>
</html>