{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ansonika">
	
    <title>{{product.product_name}}</title>
	<link rel = "icon" href ="/media/{{i.product_img_1}}" type = "image/x-icon">
	

    <!-- Favicons-->
  
    <!-- GOOGLE WEB FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="{% static 'css/bootstrap.custom.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/style.css'%}" rel="stylesheet">

	<!-- SPECIFIC CSS -->
    <link href="{% static 'css/product_page.css'%}" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="{% static 'css/custom.css'%}" rel="stylesheet">
	<style>
        .dot {
            height: 5rem;
            width: 5rem;
            background-color: rgb(60, 255, 0);
            border-radius: 50%;
            display: inline-block;
        }
                * {
        box-sizing: border-box;
        }

        .img-zoom-container {
        position: relative;
        }

        .img-zoom-lens {
        position: absolute;
        border: 1px solid #d4d4d4;
        /*set the size of the lens:*/
        width: 250px;
        height: 250px;
        }

        .img-zoom-result {
        border: 1px solid #d4d4d4;
        /*set the size of the result div:*/
        width: 350px;
        height: 350px;
        }
		

			input,
			textarea {
			  border: 1px solid #eeeeee;
			  box-sizing: border-box;
			  margin: 0;
			  outline: none;
			  padding: 10px;
			}
			
			input[type="button"] {
			  -webkit-appearance: button;
			  cursor: pointer;
			}
			
			input::-webkit-outer-spin-button,
			input::-webkit-inner-spin-button {
			  -webkit-appearance: none;
			}
			
			.input-group {
			  clear: both;
			  margin: 15px 0;
			  position: relative;
			}
			
			.input-group input[type='button'] {
			  background-color: #eeeeee;
			  min-width: 38px;
			  width: auto;
			  transition: all 300ms ease;
			}
			
			.input-group .button-minus,
			.input-group .button-plus {
			  font-weight: bold;
			  height: 38px;
			  padding: 0;
			  width: 38px;
			  position: relative;
			}
			
			.input-group .quantity-field {
			  position: relative;
			  height: 38px;
			  left: -6px;
			  text-align: center;
			  width: 62px;
			  display: inline-block;
			  font-size: 13px;
			  margin: 0 0 5px;
			  resize: vertical;
			}
			
			.button-plus {
			  left: -13px;
			}
			
			input[type="number"] {
			  -moz-appearance: textfield;
			  -webkit-appearance: none;
			}			

    </style>
</head>

<body>
	
	<div id="page">
	<main>
	    <div class="container margin_30">
	        <!-- <div class="countdown_inner">-20% This offer ends in <div data-countdown="2019/05/15" class="countdown"></div>
	        </div> -->

	        <div class="row">
	            <div class="col-md-6">
	                <div class="all">
	                    <div class="slider">
	                        <div class="owl-carousel owl-theme main">
								{% if product.product_img_1 %}
								<!-- <div style="background-image: url({{i.product_img_1.url}});" class="item-box"></div> -->
								<img src="{{product.product_img_1.url}}" class="item-box " id="myimage1" onMouseover="zoom1()" onmouseleave="hideZoom()" alt="">
								{% else %}
	                            <div style="background-image: url(img/products/shoes/1.jpg);" class="item-box"></div>
								{% endif %}
								{% if product.product_img_2 %}
								<!-- <div style="background-image: url({{i.product_img_2.url}});" class="item-box"></div> -->
								<img src="{{product.product_img_2.url}}" class="item-box" id="myimage2" onMouseover="zoom2()" onmouseleave="hideZoom()" alt="">
								{% else %}
	                            <div style="background-image: url(img/products/shoes/1.jpg);" class="item-box"></div>
								{% endif %}
								{% if product.product_img_3 %}
								<!-- <div style="background-image: url({{i.product_img_3.url}});" class="item-box"></div> -->
								<img src="{{product.product_img_3.url}}" class="item-box" id="myimage3" onMouseover="zoom3()" onmouseleave="hideZoom()" alt="">
								{% else %}
	                            <div style="background-image: url(img/products/shoes/1.jpg);" class="item-box"></div>
								{% endif %}
								{% if product.product_img_4 %}
								<!-- <div style="background-image: url({{i.product_img_4.url}});" class="item-box"></div> -->
								<img src="{{product.product_img_4.url}}" class="item-box" id="myimage4" onMouseover="zoom4()" onmouseleave="hideZoom()" alt="">
								{% else %}
	                            <div style="background-image: url(img/products/shoes/1.jpg);" class="item-box"></div>
								{% endif %}
	                        </div>
	                        <div class="left nonl"><i class="ti-angle-left"></i></div>
	                        <div class="right"><i class="ti-angle-right"></i></div>
	                    </div>
	                    <div class="slider-two">
	                        <div class="owl-carousel owl-theme thumbs">
								{% if product.product_img_1 %}
								<div style="background-image: url({{product.product_img_1.url}});" class="item active"></div>
								{% else %}
	                            <div style="background-image: url({% static 'img/products/shoes/1.jpg'%});" class="item active"></div>
								{% endif %}
								{% if product.product_img_2 %}
								<div style="background-image: url({{product.product_img_2.url}});" class="item active"></div>
								{% else %}
	                            <div style="background-image: url({% static 'img/products/shoes/1.jpg'%});" class="item active"></div>
								{% endif %}
								{% if product.product_img_3 %}
								<div style="background-image: url({{product.product_img_3.url}});" class="item active"></div>
								{% else %}
	                            <div style="background-image: url({% static 'img/products/shoes/1.jpg'%});" class="item active"></div>
								{% endif %}
								{% if product.product_img_4 %}
								<div style="background-image: url({{product.product_img_4.url}});" class="item active"></div>
								{% else %}
	                            <div style="background-image: url({% static 'img/products/shoes/1.jpg'%});" class="item active"></div>
								{% endif %}
	                        </div>
	                        <div class="left-t nonl-t"></div>
	                        <div class="right-t"></div>
	                    </div>
	                </div>
	            </div>
				
	            <div class="col-md-6">	
	                <!-- <div class="breadcrumbs">
	                    <ul>
	                        <li><a href="#">Home</a></li>
	                        <li><a href="#">Category</a></li>
	                        <li>Page active</li>
	                    </ul>
	                </div> -->

	                <!-- /page_header -->
	                <div class="prod_info">
						{% if product %}
	                    <h1>{{product.product_name}}</h1>
	                    <span class="rating"><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star"></i><em>4 reviews</em></span>
	                    <p><small>{{product.product_name}}</small><br>{{product.product_description}}</p>
	                    <div class="prod_options">

	                        <!-- <div class="row">
	                            <label class="col-xl-5 col-lg-5  col-md-6 col-6 pt-0"><strong>Color</strong></label>
	                            <div class="col-xl-4 col-lg-5 col-md-6 col-6 colors">
	                                <ul>
	                                    <li><a href="#0" class="color color_1 active"></a></li>
	                                    <li><a href="#0" class="color color_2"></a></li>
	                                    <li><a href="#0" class="color color_3"></a></li>
	                                    <li><a href="#0" class="color color_4"></a></li>
	                                </ul>
	                            </div>
	                        </div> -->

	                        <div class="row">
								<div class="img-zoom-container" style="display: none;">
									<div id="myresult" class="img-zoom-result"></div>
								  </div>
	                            <label class="col-xl-5 col-lg-5 col-md-6 col-6"><strong>Size</strong> - Size Guide <a href="#0" data-bs-toggle="modal" data-bs-target="#size-modal"><i class="ti-help-alt"></i></a></label>
	                            <div class="col-xl-4 col-lg-5 col-md-6 col-6">
	                                <div class="custom-select-form">
	                                    <select class="wide" name="size" id="size">
	                                        <option value="s" selected>Small (S)</option>
	                                        <option value="m">Medium(M)</option>
	                                        <option value="l ">Large(L)</option>
	                                    </select>
	                                </div>
	                            </div>
	                        </div>
							<form action="" method="post">
	                        <div class="row">
	                            <label class="col-xl-5 col-lg-5  col-md-6 col-6"><strong>Quantity</strong></label>
	                            <div class="col-xl-4 col-lg-5 col-md-6 col-6">
	                                <!-- <div class="numbers-row">
	                                    <input type="text" value="1" min="1" id="quantity" class="qty2" name="quantity">
	                                </div> -->

								
									<div class="input-group">
										<input type="button" value="-" class="button-minus" data-field="quantity">
										<input type="number" step="1" max="" value="1" name="quantity" class="quantity-field">
										<input type="button" value="+" class="button-plus" data-field="quantity">
									  </div>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="row">
	                        <div class="col-lg-5 col-md-6">
	                            <div class="price_main"><span class="new_price"></span>&#8377;{{product.product_price}}<span class="percentage">-20%</span> <span class="old_price">&#8377;4000.00</span></div>
	                        </div>
	                        <div class="col-lg-4 col-md-6">
								{% if in_cart %}
								<div style="width: 345px;" >
									<a href="#" class="btn_1" style="background-color: green;"><div class="btn_add_to_cart">Added to Cart <i class="fas fa-check" style="color: #d4d4d4;"></i></div></a>
									<a href="{% url 'cart_page' %}" class="btn_1" ><div class="btn_add_to_cart">View Cart<i class="fas fa-eye" style="color: #d4d4d4;"></i></div></a>
								</div>
								{% else %}
	                            	<div class="btn_add_to_cart"><a href="{% url 'add_to_cart' product.id %}" class="btn_1">Add to Cart</a></div>
								{% endif %}
	                        </div>
	                    </div>
					</form>
						{% endif %}
	                </div>
	                <!-- /prod_info -->
	                <div class="product_actions">
	                    <ul>
	                        <li>
	                            <a href="#"><i class="ti-heart"></i><span>Add to Wishlist</span></a>
	                        </li>
	                        <li>
	                            <a href="#"><i class="ti-control-shuffle"></i><span>Add to Compare</span></a>
	                        </li>
	                    </ul>
	                </div>
	                <!-- /product_actions -->
	            </div>
	        </div>
	        <!-- /row -->
	    </div>
	    <!-- /container -->
	    
	    <div class="tabs_product">
	        <div class="container">
	            <ul class="nav nav-tabs" role="tablist">
	                <li class="nav-item">
	                    <a id="tab-A" href="#pane-A" class="nav-link active" data-bs-toggle="tab" role="tab">Description</a>
	                </li>
	                <li class="nav-item">
	                    <a id="tab-B" href="#pane-B" class="nav-link" data-bs-toggle="tab" role="tab">Reviews</a>
	                </li>
	            </ul>
	        </div>
	    </div>
	    <!-- /tabs_product -->
	    <div class="tab_content_wrapper">
	        <div class="container">
	            <div class="tab-content" role="tablist">
	                <div id="pane-A" class="card tab-pane fade active show" role="tabpanel" aria-labelledby="tab-A">
	                    <div class="card-header" role="tab" id="heading-A">
	                        <h5 class="mb-0">
	                            <a class="collapsed" data-bs-toggle="collapse" href="#collapse-A" aria-expanded="false" aria-controls="collapse-A">
	                                Description
	                            </a>
	                        </h5>
	                    </div>
	                    <div id="collapse-A" class="collapse" role="tabpanel" aria-labelledby="heading-A">
	                        <div class="card-body">
	                            <div class="row justify-content-between">
	                                <div class="col-lg-6">
	                                    <h3>Details</h3>
	                                    <p>{{product.product_description}}</p>
	                                </div>
	                                <div class="col-lg-5">
	                                    <h3>Specifications</h3>
	                                    <div class="table-responsive">
	                                        <table class="table table-sm table-striped">
	                                            <tbody>
	                                                <tr>
	                                                    <td><strong>Color</strong></td>
	                                                    <td>Blue, Purple</td>
	                                                </tr>
	                                                <tr>
	                                                    <td><strong>Size</strong></td>
	                                                    <td>150x100x100</td>
	                                                </tr>
	                                                <tr>
	                                                    <td><strong>Weight</strong></td>
	                                                    <td>0.6kg</td>
	                                                </tr>
	                                                <tr>
	                                                    <td><strong>Manifacturer</strong></td>
	                                                    <td>Manifacturer</td>
	                                                </tr>
	                                            </tbody>
	                                        </table>
	                                    </div>
	                                    <!-- /table-responsive -->
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <!-- /TAB A -->
	                <div id="pane-B" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-B">
	                    <div class="card-header" role="tab" id="heading-B">
	                        <h5 class="mb-0">
	                            <a class="collapsed" data-bs-toggle="collapse" href="#collapse-B" aria-expanded="false" aria-controls="collapse-B">
	                                Reviews
	                            </a>
	                        </h5>
	                    </div>
	                    <div id="collapse-B" class="collapse" role="tabpanel" aria-labelledby="heading-B">
	                        <div class="card-body">
	                            <div class="row justify-content-between">
	                                <div class="col-lg-6">
	                                    <div class="review_content">
	                                        <div class="clearfix add_bottom_10">
	                                            <span class="rating"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><em>5.0/5.0</em></span>
	                                            <em>Published 54 minutes ago</em>
	                                        </div>
	                                        <h4>"Commpletely satisfied"</h4>
	                                        <p>Eos tollit ancillae ea, lorem consulatu qui ne, eu eros eirmod scaevola sea. Et nec tantas accusamus salutatus, sit commodo veritus te, erat legere fabulas has ut. Rebum laudem cum ea, ius essent fuisset ut. Viderer petentium cu his.</p>
	                                    </div>
	                                </div>
	                                <div class="col-lg-6">
	                                    <div class="review_content">
	                                        <div class="clearfix add_bottom_10">
	                                            <span class="rating"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star empty"></i><i class="icon-star empty"></i><em>4.0/5.0</em></span>
	                                            <em>Published 1 day ago</em>
	                                        </div>
	                                        <h4>"Always the best"</h4>
	                                        <p>Et nec tantas accusamus salutatus, sit commodo veritus te, erat legere fabulas has ut. Rebum laudem cum ea, ius essent fuisset ut. Viderer petentium cu his.</p>
	                                    </div>
	                                </div>
	                            </div>
	                            <!-- /row -->
	                            <div class="row justify-content-between">
	                                <div class="col-lg-6">
	                                    <div class="review_content">
	                                        <div class="clearfix add_bottom_10">
	                                            <span class="rating"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star empty"></i><em>4.5/5.0</em></span>
	                                            <em>Published 3 days ago</em>
	                                        </div>
	                                        <h4>"Outstanding"</h4>
	                                        <p>Eos tollit ancillae ea, lorem consulatu qui ne, eu eros eirmod scaevola sea. Et nec tantas accusamus salutatus, sit commodo veritus te, erat legere fabulas has ut. Rebum laudem cum ea, ius essent fuisset ut. Viderer petentium cu his.</p>
	                                    </div>
	                                </div>
	                                <div class="col-lg-6">
	                                    <div class="review_content">
	                                        <div class="clearfix add_bottom_10">
	                                            <span class="rating"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><em>5.0/5.0</em></span>
	                                            <em>Published 4 days ago</em>
	                                        </div>
	                                        <h4>"Excellent"</h4>
	                                        <p>Sit commodo veritus te, erat legere fabulas has ut. Rebum laudem cum ea, ius essent fuisset ut. Viderer petentium cu his.</p>
	                                    </div>
	                                </div>
	                            </div>
	                            <!-- /row -->
	                            <p class="text-end"><a href="leave-review.html" class="btn_1">Leave a review</a></p>
	                        </div>
	                        <!-- /card-body -->
	                    </div>
	                </div>
	                <!-- /tab B -->
	            </div>
	            <!-- /tab-content -->
	        </div>
	        <!-- /container -->
	    </div>
	    <!-- /tab_content_wrapper -->



	    <div class="feat">
			<div class="container">
				<ul>
					<li>
						<div class="box">
							<i class="ti-gift"></i>
							<div class="justify-content-center">
								<h3>Free Shipping</h3>
								<p>For all oders over $99</p>
							</div>
						</div>
					</li>
					<li>
						<div class="box">
							<i class="ti-wallet"></i>
							<div class="justify-content-center">
								<h3>Secure Payment</h3>
								<p>100% secure payment</p>
							</div>
						</div>
					</li>
					<li>
						<div class="box">
							<i class="ti-headphone-alt"></i>
							<div class="justify-content-center">
								<h3>24/7 Support</h3>
								<p>Online top support</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!--/feat-->

	</main>
	<!-- /main -->
	
	</div>
	<!-- page -->
	
	<div id="toTop"></div><!-- Back to top button -->

	
 	<!-- COMMON SCRIPTS -->
    <script src="{% static 'js/common_scripts.min.js'%}"></script>
    <script src="{% static 'js/main.js"></script>
  
    <!-- SPECIFIC SCRIPTS -->
    <script  src="{% static 'js/carousel_with_thumbs.js'%}"></script>


	<script>

		function imageZoom(imgID, resultID) {
		  var img, lens, result, cx, cy;
		  img = document.getElementById(imgID);
		  result = document.getElementById(resultID);
		  /*create lens:*/
		  lens = document.createElement("DIV");
		  lens.setAttribute("class", "img-zoom-lens");
		  /*insert lens:*/
		  img.parentElement.insertBefore(lens, img);
		  /*calculate the ratio between result DIV and lens:*/
		  cx = result.offsetWidth / lens.offsetWidth;
		  cy = result.offsetHeight / lens.offsetHeight;
		  /*set background properties for the result DIV:*/
		  result.style.backgroundImage = "url('" + img.src + "')";
		  result.style.backgroundSize = (img.width * cx) + "px " + (img.height * cy) + "px";
		  /*execute a function when someone moves the cursor over the image, or the lens:*/
		  lens.addEventListener("mousemove", moveLens);
		  img.addEventListener("mousemove", moveLens);
		  /*and also for touch screens:*/
		  lens.addEventListener("touchmove", moveLens);
		  img.addEventListener("touchmove", moveLens);
		
		  function moveLens(e) {
			var pos, x, y;
			/*prevent any other actions that may occur when moving over the image:*/
			e.preventDefault();
			/*get the cursor's x and y positions:*/
			pos = getCursorPos(e);
			/*calculate the position of the lens:*/
			x = pos.x - (lens.offsetWidth / 2);
			y = pos.y - (lens.offsetHeight / 2);
			/*prevent the lens from being positioned outside the image:*/
			if (x > img.width - lens.offsetWidth) {
			  x = img.width - lens.offsetWidth;
			}
			if (x < 0) {
			  x = 0;
			}
			if (y > img.height - lens.offsetHeight) {
			  y = img.height - lens.offsetHeight;
			}
			if (y < 0) {
			  y = 0;
			}
			/*set the position of the lens:*/
			lens.style.left = x + "px";
			lens.style.top = y + "px";
			/*display what the lens "sees":*/
			result.style.backgroundPosition = "-" + (x * cx) + "px -" + (y * cy) + "px";
		  }
		
		  function getCursorPos(e) {
			var a, x = 0,
			  y = 0;
			e = e || window.event;
			/*get the x and y positions of the image:*/
			a = img.getBoundingClientRect();
			/*calculate the cursor's x and y coordinates, relative to the image:*/
			x = e.pageX - a.left;
			y = e.pageY - a.top;
			/*consider any page scrolling:*/
			x = x - window.pageXOffset;
			y = y - window.pageYOffset;
			return {
			  x: x,
			  y: y
			};
		  }
		}
		
		// Initiate zoom effect:

		function zoom1() {
			$('.img-zoom-container').attr("style", 'display: block;')
			imageZoom("myimage1", "myresult");
			
		}
		function zoom2() {
			$('.img-zoom-container').attr("style", 'display: block;')
			imageZoom("myimage2", "myresult");
			
		}
		function zoom3() {
			$('.img-zoom-container').attr("style", 'display: block;')
			imageZoom("myimage3", "myresult");
			
		}
		function zoom4() {
			$('.img-zoom-container').attr("style", 'display: block;')
			imageZoom("myimage4", "myresult");
			
		}
		function hideZoom(){
			$('.img-zoom-container').attr("style", 'display: none;')
		}
			</script>


			<script>
				function incrementValue(e) {
					e.preventDefault();
					var fieldName = $(e.target).data('field');
					var parent = $(e.target).closest('div');
					var currentVal = parseInt(parent.find('input[name=' + fieldName + ']').val(), 10);
				  
					if (!isNaN(currentVal)) {
					  parent.find('input[name=' + fieldName + ']').val(currentVal + 1);
					} else {
					  parent.find('input[name=' + fieldName + ']').val(0);
					}
				  }
				  
				  function decrementValue(e) {
					e.preventDefault();
					var fieldName = $(e.target).data('field');
					var parent = $(e.target).closest('div');
					var currentVal = parseInt(parent.find('input[name=' + fieldName + ']').val(), 10);
				  
					if (!isNaN(currentVal) && currentVal > 0) {
					  parent.find('input[name=' + fieldName + ']').val(currentVal - 1);
					} else {
					  parent.find('input[name=' + fieldName + ']').val(0);
					}
				  }
				  
				  $('.input-group').on('click', '.button-plus', function(e) {
					incrementValue(e);
				  });
				  
				  $('.input-group').on('click', '.button-minus', function(e) {
					decrementValue(e);
				  });
				  
			</script>
			<script src="https://kit.fontawesome.com/a227c57831.js" crossorigin="anonymous"></script>
			

			<script lang="javascript">
				const reloadUsingLocationHash = () => {
				  window.location.hash = "reload";
				}
				window.onload = reloadUsingLocationHash();
			  </script>
		</body>
		
		</html>
		{% endblock content %}
