{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astreme Store | Sign Up</title>
    <link rel="stylesheet" type="text/css" href="{% static 'login_register/css/bootstrap.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'login_register/css/fontawesome-all.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'login_register/css/iofrm-style.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'login_register/css/iofrm-theme4.css'%}">

      <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
              
</head>
<body>
    <div class="form-body">
        <div class="website-logo">
            <a href="/">
                <div class="astreme-logo">
                    <img class="logo-size" src="{% static 'img/astreme_logo.png'%}" alt="">
                </div>
            </a>
        </div>
        <div class="row">
            <div class="img-holder">
                <div class="bg"></div>
                <div class="info-holder">
                    <img src="{% static 'login_register/images/graphic1.svg'%}" alt="">
                </div>
            </div>
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Get more things done with Loggin platform.</h3>
                        <p>Access to the most powerfull tool in the entire design and web industry.</p>
                        <div class="page-links">
                            <a href="signin">Login</a><a href="signup" class="active">Register</a>
                        </div>
                        
                        <form method="post">
                            {% csrf_token %}
                            {% if messages %}
                            {% for i in messages %}
                            <p style="color: red;" >{{i}}</p>
                            {% endfor %}
                            {% endif %}
                            <label>Firstname</label>
                            {{form.firstname}}
                            <label>Secondname</label>
                            {{form.secondname}}
                            <label>Email</label>
                            {{form.email}}
                            <label>Phone Number</label>
                            {{form.phone}}
                            <label>Password</label>
                            {{form.password1}}
                            <label>passowrd Again</label>
                            {{form.password2}}
                            <!-- <input class="form-control" type="email" name="email" placeholder="E-mail Address" required>
                            <input class="form-control" type="number" name="phonenumber" placeholder="Mobile Number" required>
                            <input class="form-control" type="password" name="password1" placeholder="Password" required>
                            <input class="form-control" type="password" name="password2" placeholder="Password Again" required> -->
                            
                            <div class="form-button">
                                <button id="submit" type="submit" class="ibtn">Register</button>
                            </div>
                        </form>
                        <!-- <div class="other-links">
                            <span>Or register with</span><a href="#">Facebook</a><a href="#">Google</a><a href="#">Linkedin</a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="{% static 'login_register/js/jquery.min.js'%}"></script>
<script src="{% static 'login_register/js/popper.min.js'%}"></script>
<script src="{% static 'login_register/js/bootstrap.min.js'%}"></script>
<script src="{% static 'login_register/js/main.js'%}"></script>
<!-- {% if messages %}
    {% for messages in messages %}
        <script>
            alert("{{messages}}");
        </script>
    {% endfor %}
{% endif %} -->

</body>
</html>